@page "/cities"

<PageTitle>Challenge 3 - Cities Index</PageTitle>

<h1>Cities Index</h1>

<hr/>

<hr/>

<table>

    <tr>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
    </tr>

    @foreach (var city in cities)
    {
        <tr>
            <td> @city.name </td>
            <td> @city.state </td>
            <td> @city.country </td>
        </tr>
    }

</table>



<hr/>

<button class="btn btn-primary">Validate</button>

@code {
    record City(string name, string state, string country);
    List<City> cities = new List<City>();

    
}