@page "/cities"

<PageTitle>Challenge 5 - Cities Index</PageTitle>

<h1>Cities Index</h1>

<hr/>

O Frontend manda uma requisição com um parâmetro string e 

<hr/>

<table>

    <tr>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
    </tr>

    @foreach (var city in cities)
    {
        <tr>
            <td> @city.name </td>
            <td> @city.state </td>
            <td> @city.country </td>
        </tr>
    }

</table>

<hr/>

<label>
    Search:
    <InputText @bind-Value="search" />
</label>

<button class="btn btn-primary" @onclick="Search">Search</button>

@code {
    string search;
    List<City> cities = [];
    record City(string name, string state, string country);

    private void Search()
    {

    }
}